# Config for docker database from /docker/docker-compose.yml
# Config for docker database from /docker/docker-compose.yml
spring.datasource.url=jdbc:postgresql://localhost:8001/craftbid_db
spring.datasource.username=postgres
spring.datasource.password=postgres
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.open-in-view=false
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

secureTokenSIgnKey=703273357638792F423F4528482B4D6251655468576D5A7133743677397A2443e.dialect.PostgreSQLDialect